.skills{
    margin-bottom: 250px;
}
.skills__header{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    margin-bottom: 100px;
}

.skills__content{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "Speaking Writing Reading"
        "Speaking Listening Listening";
}
.skills__item{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.skills-block__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(245, 245, 245);
    padding: 30px;
  }
  ._item-reading .skills-block__text {
    margin-bottom: 40px;
  }
  ._item-listening .skills-block__text {
    margin-bottom: 40px;
  }

.skills-block__title{
    color: rgb(38, 50, 56);
    font-size: 30px;
    font-weight: 600;
    line-height: 80px;
    text-align: left;
}
.skills-block__text{
    color: rgb(143, 149, 165);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 25px;
}
._text-speaking {
    margin-bottom: 40px;
    max-width: 350px;
}
.skills-block__img {
    max-width: 350px;
}
.item-skills-block-img{
    width: 100%;
}

.skills-block__button{
    display: flex;
    box-sizing: border-box;
    border: 2px solid #263238;
    border-radius: 5px;
    background: #263238;
    padding: 15px 60px;
    color:#ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: color, background-color;
    transition: 0.2s,ease-in-out;
    align-self: flex-start;
}
._button-listening{
    padding: 15px 45px;
}
.skills-block__button:hover{
    color: #263238;
    background-color: #ffffff;
}

._item-speaking{
    grid-area: Speaking;
}
._item-writing{
    grid-area: Writing;
}
._item-reading{
    grid-area: Reading;
}
._item-listening{
    grid-area: Listening;
    flex-direction: row-reverse;
}


@media screen and (max-width: 993px) {
    .skills__header{
        font-size: 36px;
        line-height: 80px;
        margin-bottom: 50px;
    }
    .skills__content{
        display: grid;
        grid-gap: 10px;
    }
    .item-skills-block-img {
        max-width: 235px;
    }
    .skills-block__title{
        font-size: 22px;
        line-height: 80px;
    }
    .skills-block__text{
        font-size: 14px;
        line-height: 21px;
    }
    .skills-block__button{
        padding: 15px 40px;
        font-size: 18px;
        line-height: 27px;
        line-height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .skills__header{
        font-size: 30px;
        line-height: 80px;
        margin-bottom: 40px;
    }
    .skills__content{
        display: grid;
        grid-gap: 10px;
    }
    .skills-block__img {
        max-width: 215px;
    }
    .item-skills-block-img{
        width: 100%;
    }
    .skills-block__title{
        font-size: 20px;
        line-height: 80px;
    }
    .skills-block__text{
        font-size: 13px;
        line-height: 20px;
    }
    .skills-block__button{
        padding: 15px 40px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 576px) {
    .skills__header{
        font-size: 30px;
        line-height: 80px;
        margin-bottom: 35px;
    }
    .skills__content{
        display: grid;
        grid-template-columns: repeat(4, 50%);
        grid-gap: 30px;
        grid-template-areas: 
            "Speaking Writing"
            "Reading Listening";
    }
    .item-skills-block-img {
        max-width: 185px;
    }
    ._item-listening{
        flex-direction: column;
    }
    .skills-block__title{
        font-size: 18px;
        line-height: 80px;
    }
    .skills-block__text{
        font-size: 12px;
        line-height: 18px;
    }
 
    .skills-block__button{
        margin-top: auto;
        padding: 15px 55px;
        font-size: 14px;
        line-height: 21px;
    }
}

@media screen and (max-width: 321px) {
    .skills__header{
        font-size: 24px;
        line-height: 80px;
        margin-bottom: 40px;
    }
    .skills__content{
        display: grid;
        grid-template-columns: repeat(4, 100%);
        grid-gap: 40px;
        grid-template-areas: 
            "Speaking" 
            "Writing"
            "Reading"
            "Listening";
    }
    .skills-block__title{
        font-size: 18px;
        line-height: 80px;
    }
    .skills-block__text{
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 25px;
    }
    .skills-block__button{
        padding: 15px 45px;
        font-size: 14px;
        line-height: 21px;
    }
}